@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/mixins";

@mixin horizontal {
	--wi-collapsible-social-links--orientation: row;
	--wi-collapsible-social-links--content-position--top: 0;
	--wi-collapsible-social-links--content-position--right: auto;
	--wi-collapsible-social-links--content-position--bottom: 0;
	--wi-collapsible-social-links--content-position--left: 100%;
	--wi-collapsible-social-links--content-space--horizontal: var(--wi-collapsible-social-links--content-space);
	--wi-collapsible-social-links--content-space--vertical: 0;
}

.wp-block-wielgosz-info-wi-collapsible-social-links {
	--wi-collapsible-social-links--orientation: column;
	--wi-collapsible-social-links--content-position--top: 100%;
	--wi-collapsible-social-links--content-position--right: 0;
	--wi-collapsible-social-links--content-position--bottom: auto;
	--wi-collapsible-social-links--content-position--left: 0;
	--wi-collapsible-social-links--content-space: var(--wp--preset--spacing--40);
	--wi-collapsible-social-links--content-space--horizontal: 0;
	--wi-collapsible-social-links--content-space--vertical: var(--wi-collapsible-social-links--content-space);

	position: relative;
	width: fit-content;
	background: var(--wp--preset--color--vivid-cyan-blue);
	color: var(--wp--preset--color--white);
	border-radius: 9994px;

	&.is-horizontal-at-mobile {

		@include break-mobile() {

			@include horizontal;
		}
	}

	&.is-horizontal-at-small {

		@include break-small() {

			@include horizontal;
		}
	}

	&.is-horizontal-at-medium {

		@include break-medium() {

			@include horizontal;
		}
	}

	&.is-horizontal-at-large {

		@include break-large() {

			@include horizontal;
		}
	}

	&.is-horizontal-at-xlarge {

		@include break-xlarge() {

			@include horizontal;
		}
	}

	&.is-horizontal-at-huge {

		@include break-huge() {

			@include horizontal;
		}
	}

	&.is-horizontal-at-xhuge {

		@include break-huge() {

			@include horizontal;
		}
	}

	&.has-small-icon-size {
		font-size: 1rem;
	}

	&.has-normal-icon-size {
		font-size: 1.5rem;
	}

	&.has-large-icon-size {
		font-size: 2.25rem;
	}

	&.has-huge-icon-size {
		font-size: 3rem;
	}
}

.wp-block-wielgosz-info-wi-collapsible-social-links__button {
	appearance: none;
	display: flex;
	align-items: center;
	background: inherit;
	color: inherit;
	font: inherit;
	border: 0;
	margin: 0;
	padding: 0.25em;
	min-width: 1.5em;
	height: 1.5em;
	border-radius: 9994px;
	line-height: 1;
	transition: transform 0.1s ease;
	fill: currentcolor;
	cursor: pointer;

	@include reduce-motion(transition);

	&:hover {
		transform: scale(1.1);
	}

	svg {
		width: 1em;
		height: 1em;
	}
}

.wp-block-wielgosz-info-wi-collapsible-social-links__content {
	position: absolute;
	top: var(--wi-collapsible-social-links--content-position--top);
	right: var(--wi-collapsible-social-links--content-position--right);
	bottom: var(--wi-collapsible-social-links--content-position--bottom);
	left: var(--wi-collapsible-social-links--content-position--left);
	margin:
		var(--wi-collapsible-social-links--content-space--vertical)
		var(--wi-collapsible-social-links--content-space--horizontal);
	display: flex;
	flex-direction: var(--wi-collapsible-social-links--orientation);
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;

	&[hidden] {
		display: none;
	}
}

.wp-block-wielgosz-info-wi-collapsible-social-links .wp-block-social-links-is-layout-flex {
	flex-direction: var(--wi-collapsible-social-links--orientation);
}
